.admin-header,
.orders-row,
.messages-received {
  padding: 10px;
  margin: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

.admin-header h1,
.orders-row h1,
.messages-received h1 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
}

.operations {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 15px;
}

.order-buttons {
  margin: 0 10px 15px 15px;
}

.admin-button {
  width: 100%;
  margin: auto;
  padding: 8px 50px;
  background-color: #febd2f;
  color: #173334;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
  border: 0.01rem solid #315636;
}

.admin-button:hover {
  background-color: #173334;
  color: #febd2f;
  border: 0.01rem solid #febd2f;
}

@media only screen and (min-width: 600px) {
  .admin-header,
  .orders-row,
  .messages-received {
    margin: 20px;
  }

  .admin-header,
  .orders-row {
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media only screen and (min-width: 800px) {
  .admin-header,
  .orders-row {
    padding: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
  }

  .admin-button {
    padding: 8px 100px;
  }
}
