/* Common styles */
.account-page {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.account-row {
  margin-top: -80px;
  height: auto;
  display: flex;
  align-items: center;
}

.col-2 {
  width: 100%;
  margin-bottom: 20px;
}

.col-lg-6 {
  width: 50%;
  float: left;
}

.form-container {
  background: #fff;
  width: 320px;
  height: 380px;
  position: relative;
  text-align: center;
  padding: 40px 10px;
  margin: auto;
  box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 40px;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 120px;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  font-size: 13px;
  letter-spacing: 1px;
}

form .btn {
  width: 100%;
  background: #f0b22a;
  cursor: pointer;
  margin: 10px 0;
  padding: 7px 0;
  letter-spacing: 1.5px;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.7s;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}

form .btn:hover {
  background-color: #173334;
  color: #febd2f;
}

form .btn:focus {
  outline: none;
}

form a {
  font-size: 12px;
}

.Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
}

#logout-btn {
  background-color: #f5f3f3;
  color: #8276c2;
  width: 50%;
  border: 1px solid #8276c2;
  cursor: pointer;
  margin: 30px auto;
  padding: 5px;
}

.forgot {
  padding: 20px 0 10px 0;
}

#forgot-label {
  font-size: 14px;
}

.forgot-password button {
  background: none;
  border: none;
  padding: 0;
  margin: 10px 0;
  cursor: pointer;
  color: rgb(120, 120, 124);
  font-size: 13px;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.forgot-password button:hover {
  text-decoration: underline;
}

.google-signup-button {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 0 auto;
}

.google-signup-button {
  color: #fff;
  background-color: #2e476f;
}

.google-signup-button:hover {
  background-color: #365382;
  transform: scale(1.04);
}

.google-signup-button img.signup-button-image {
  width: 30px;
  border-radius: 5px;
  margin-right: 15px;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .account-row {
    flex-direction: column;
  }
  .account-row img {
    display: none;
  }
  .form-container {
    width: 300px;
  }
  .form-container form {
    padding: 0 30px 0 20px;
  }
}

@media only screen and (max-width: 600px) {
  .col-lg-6 {
    width: 100%;
  }
}
